---
title: '404 | Liam Richardson'
description: '404 Error'
layout: 'layouts/text.html'
---
<div class='Container'>
  <div class='Page-Title Page-Title--error'>
    <h1>{{ fourohfour.page_title }}</h1>
    {{ fourohfour.content }}
    <a href='/' class='Button'>{{ fourohfour.button }}</a>
  </div>
</div>
