@import '../../../node_modules/normalize.css/normalize.css';

:root {
  /* colo(u)rs */
  --black: #0f0f0f;
  --white: #f5f5f5;

  --yellow: #e0aa00;
  --lightturq: #01e1ad;
  --purple: #a03fe0;
  --turq: #2e8b76;
  --moss: #615530;

  /* Spacing */
  --gap: 2em;

  /* Fonts */
  --font--heading: 'Hubot Sans';
  --font--body: 'Mona Sans';

  /* Transitions */
  --global-transition: 150ms ease;
}

@font-face {
  font-family: 'Hubot Sans';
  src: url('../fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('../fonts/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('../fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('../fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/* base settings */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font--body);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--size-step-0);
  line-height: 1.7;
}

a {
  color: var(--lightturq);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--turq);
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.3ex;
  text-decoration-skip-ink: none;
  transition: all var(--global-transition);
  &:hover {
    text-decoration-thickness: 0.4ex;
    text-decoration-color: var(--purple);
    color: var(--lightturq);
  }
}

/* Type */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font--heading);
  font-weight: 800;
  font-stretch: 125%;
  letter-spacing: -0.56px;
  overflow-wrap: break-word;
  text-transform: uppercase;
  word-break: keep-all;
  /* font-feature-settings: "liga", "ss02"; */
}

blockquote {
  font-family: var(--font--heading);
  font-size: min(40px, 4vw);
  font-weight: 200;
  font-stretch: 75%;
  font-variation-settings: 'ital' 10, 'slnt' 10, 'wdth' 75;
}

#main-content {
  margin-bottom: 4em;
}

/* A11y */
.visually-hidden,
.sr-only {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.visually-hidden--inline {
  margin: 0;
  height: 1em;
}

.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}

/* Flow */

/* @link https://utopia.fyi/type/calculator?c=320,18,1.25,1240,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --size-step--2: clamp(0.6331rem, 0.7502rem + -0.1511vw, 0.72rem);
  --size-step--1: clamp(0.844rem, 0.9195rem + -0.0975vw, 0.9rem);
  --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
}

h1,
h2,
h3 {
  font-weight: 800;
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--size-step-4);
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

ul,
ol {
  padding-inline-start: 1em;
}

blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--size-step-1);
}

.Lede {
  font-size: var(--size-step-1);
  font-weight: 700;
  color: var(--yellow);
}

/* Utilities */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* Flow and rythm */
:is(h1, h2, h3, blockquote, .Lede) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

/* Line lengths */
article {
  max-width: 65ch;
  margin-inline: auto;
}

.Container {
  margin: 0 auto;
  width: calc(100% - 2em);
  max-width: 80em;
}

.Container--text {
  max-width: 40em;
}

/* Main Nav */

.MainNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Music */
.MusicList {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size, 16rem), 1fr)
  );
  grid-gap: var(--gap);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.MusicList__Release {
  max-width: unset;
  margin: unset;
}

.MusicList__ImgWrap {
  width: 100%;
  position: relative;
}

.MusicList__Image {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.MusicList__Meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  & dt {
    flex: 0 0 100px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  & dd {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% - 100px);
    margin: 0;
    padding: 0;
  }
}

.MusicNavigation__List {
  list-style-type: none;
  margin: 3em 0 0 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

@media only screen and (min-width: 40em) {
  .MusicLayout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    gap: 1em;
  }
  .MusicStats {
    grid-column: 9 / span 4;
    grid-row: 1;
    position: relative;
  }
  .MusicList {
    grid-column: 1 / span 8;
    grid-row: 1;
  }
  .MusicStats__Wrapper {
    position: sticky;
    top: 1em;
  }
}

/* Weeknotes */
.Weeknotes {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  & li {
    margin-bottom: 2em;
    & h2 {
      font-size: var(--size-step-2);
      text-transform: none;
      margin-bottom: 0.25em;
    }
  }
}

.Page--weeknote .Flow li {
  margin-bottom: 1em;
}

time {
  color: var(--yellow);
}

/* Footer */
footer {
  background-color: var(--turq);
  padding: 2em 0;
  color: var(--black);
}

footer a {
  text-decoration-color: var(--lightturq);
  color: var(--white);
  &:hover {
    color: var(--white);
    text-decoration-color: var(--purple);
  }
}

.Footer__Details .Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.Footer__Copy {
  font-size: var(--size-step--1);
}

@media only screen and (min-width: 40em) {
  .Footer__Details .Container {
    flex-direction: row;
  }
}
